@model IEnumerable<PlataformaModel>
@{
    ViewData["Title"] = "listar";
}

<div class="container">
    <!-- Estrutura flexível para o título e o botão -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Plataformas</h1>
        <a href="~/plataforma/cadastro" class="btn btn-info" style="background-color: #021532; border-color: #021532;">
            Novo
        </a>
    </div>

    <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

    <script>
        function confirmExclusao(id) {
            if (confirm("Tem certeza que deseja excluir essa plataforma?")) {
                location.href = "/Plataforma/excluir/" + id;
            }
        }
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.id</th>
                    <td>@item.descricao</td>
                    <td>
                        <a href="~/plataforma/prealterar/@item.id" class="btn btn-primary" style="background-color: #021532; border-color: #021532;">
                            Alterar
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary" onclick="confirmExclusao(@item.id)" style="background-color: #021532; border-color: #021532;">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
